body {
    margin: 0;
    background-color: #222222;
    color: white;
}

.topMenu {
    position: fixed;
    top: 0;
    width: 100%;
}

.topMenu a:link, a:visited {
    color: white;
    background-color: #444444;
    border: 2px solid orange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topMenu a:hover, a:active {
    background-color: orange;
    color: white;
}

#banner {
    width: 100%;
    height: auto;
}

.topMenu ul{
    width: auto;
    text-align: center;
    margin-top: 8px;
}
.topMenu li{
    display: inline-block;
    padding: 15px 30px;
}



.container
{
	margin-top:10px;
	background-color:brown;
	width:800px;
	position:relative;
}


.box{
    border-bottom: 2px solid black;
    width: 20%;
    height: 40px;
    display: inline;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

strong{
    display: block;
}

.sub_menu
{
    display: none;
}
.menu{
    display: inline;
}
.menu:hover
{
    background-color:#e76e1c;
}
.menu:hover > .sub_menu 
{
    display: inline;
    background: #ac1a07;
}